<h1>領取優惠卷</h1>

<% if @coupon.errors.present? %>
  <% @coupon.errors.messages.values.each do |msg| %>
    <div>
      <%= msg.join("") %>
    </div>
  <% end %>
<% end %>



<%= form_for @coupon,url: coupons_path  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.label :taiwanid %>
  <%= f.text_field :taiwanid %>
  <%= f.submit '確認' %>
<% end %>
